{% extends 'base.html.twig' %}
{% block title %}Hello ShoppingCarController!{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-8"><h4>Ventas</h4></div>
            {% if search == 'recents' %}
                <div class="col-md-4">
                    <a href="{{ path('clients_sales',{search:'all'}) }}">Ver todas las ventas</a>
                </div>
                {% else %}
                    <div class="col-md-4">
                        <a href="{{ path('clients_sales',{search:'recents'}) }}">Ver ventas por despachar</a>
                    </div>
            {% endif %}
        </div>
        <hr>
        <div class="row">
            {% for order in orders %}
                <div class="col-md-6 my-2">
                    <div class="bg-white p-2 border rounded">
                        <div>Cliente: {{ order.user.name }} {{ order.user.lastname }}</div>
                        <div>Email: {{ order.user.email }}</div>
                        <div>Teléfono: {{ order.user.phone }}</div>
                        <div>Dirección: {{ order.user.address }} - {{ order.user.city.name }}</div>
                        <hr>
                        <div>Compra Realizada el:
                            <strong>{{ order.realizationdate|localizeddate('none', 'none', 'es_CO', null, "cccc, d MMMM Y") }}</strong>
                        </div>
                        {% if order.productdiscount == true %}
                            <div style="color: green">
                                <small>
                                    <i class="fas fa-star"></i>
                                    <strong>Venta con descuento</strong>
                                </small>
                            </div>
                        {% endif %}
                        {% if order.dispatchdate is not null %}
                            <div>Compra Despachada el:
                                <strong>{{ order.dispatchdate|localizeddate('none', 'none', 'es_CO', null, "cccc, d MMMM Y") }}</strong>
                            </div>
                        {% else %}
                            <strong style="color: blueviolet">
                                Esta Compra aún no ha sido despachada
                            </strong>
                        {% endif %}

                        <div>Método de pago: {{ order.paymentMethod }}</div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div>
                                Estado del pedido:
                                <a href="{{ path('finish_sale', {id:order.id}) }}">
                                    {{ order.status }}
                                </a>

                            </div>
                            <div><strong>Total: ${{ order.totalvalue }}</strong></div>
                        {% else %}
                            <div>
                                Estado del pedido: {{ order.status }} -
                                <strong>Total: ${{ order.totalvalue }}</strong>
                            </div>
                        {% endif %}
                        <a data-toggle="collapse" href="#collapse{{ order.id }}" role="button" aria-expanded="false"
                           aria-controls="collapseExample">
                            Ver productos
                        </a>
                        <div class="collapse my-2" id="collapse{{ order.id }}">
                            <div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Subtotal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for productorder in order.productOrders %}
                                        {% set product = productorder.product %}
                                        <tr>
                                            <td>{{ product.name }}</td>
                                            <td>{{ product.price }}</td>
                                            <td>{{ productorder.cantidad }}</td>
                                            <td>{{ product.price * productorder.cantidad }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}