{% extends 'base.html.twig' %}
{% block title %}Mi pedido - El correo de la noche{% endblock %}
{% block body %}
    {{ parent() }}
    {% set total_ammount = 0 %}
    <div class="container">
        {% for message in app.flashes('Edited') %}
            <div class="alert alert-success my-2">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row my-2">
            <div class="col-md-8">
                <h5 class="my-2">Mi orden</h5>
                <div class="row" style="height: 500px; overflow-y: scroll; overflow-x: hidden;">
                    {% if order is not null %}
                        {% for order in order.productOrders %}
                            {% set product = order.product %}
                            {% set subtotal = (order.cantidad * product.price) %}
                            <div class="col-md-3 p-3 my-2 border bg-white">
                                <img class="rounded" src="{{ asset('uploads/product/'~product.photo) }}"
                                     alt="{{ product.name }}" width="100%">
                            </div>
                            <div class="col-md-9 p-3 my-2 border bg-white">
                                <h5>{{ product.name }}</h5>
                                <div>Precio Unidad: ${{ product.price }}</div>
                                <div>Cantidad: {{ order.cantidad }}</div>
                                <div>Subtotal: ${{ subtotal }}</div>
                                <div><a href="{{ path('delete_product',{id: order.id}) }}">Sacar del Carrito</a></div>
                                <a data-toggle="collapse" href="#collapse{{ order.id }}" role="button"
                                   aria-expanded="false"
                                   aria-controls="collapseExample">
                                    Cambiar Cantidad
                                </a>
                                <div class="collapse" id="collapse{{ order.id }}">
                                    <div class="card card-body">
                                        <div>
                                            <input type="number" id="ammount_{{ order.id }}">
                                            <button class="change_ammount" data-id="{{ order.id }}">Cambiar Cantidad
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% set total_ammount = total_ammount + subtotal %}
                        {% endfor %}
                    {% else %}
                        <div class="col-md-12 alert alert-warning">
                            <h6 class="text-center">El carrtito de compras está vacío</h6>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-2 bg-info">
                    Total: ${{ total_ammount }}
                </div>
                <div>
                    {% if total_ammount %}
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-12 my-2">
                                {{ form_widget(form.paymentMethod, { 'attr': {'class': 'foo'} }) }}
                            </div>
                            <div id="send" class="col-md-12 my-2" style="display: none">
                                {{ form_widget(form.save, {'attr':{'class':'btn btn-success btn-block'}}) }}
                            </div>
                            <div id="epayco" class="col-md-12 text-center" style="display: none">
                                <form>
                                    <script
                                            src="https://checkout.epayco.co/checkout.js"
                                            class="epayco-button"
                                            data-epayco-key="5ea105d3f0eb3a32017d3dd96257c5d4"
                                            data-epayco-amount="{{ total_ammount }}"
                                            data-epayco-name="El Correo de la noche"
                                            data-epayco-description="Bebidas y Snacks"
                                            data-epayco-currency="cop"
                                            data-epayco-country="co"
                                            data-epayco-test="true"
                                            data-epayco-external="false"
                                            data-epayco-response="{{path('category_index')}}"
                                            data-epayco-confirmation=""
                                            data-epayco-address-billing="{{ user.address }}"
                                            data-epayco-email-billing="{{ user.email }}"
                                            data-epayco-name-billing="{{ user.name }} {{ user.lastname }}"
                                            data-epayco-mobilephone-billing="{{ user.phone }}"
                                    >
                                    </script>
                                </form>
                            </div>
                            <div id="message" class="col-md-12 my-2" style="display: none">
                                <div class="alert alert-warning">
                                    Pagas cuando recibes. El domiciliario cumple con las medidas de
                                    bioseguridad.
                                </div>
                            </div>
                            <div id="messageEpayco" class="col-md-12 my-2" style="display: none">
                                <div class="alert alert-warning">
                                    Para pagar en linea el monto minimo de transacción es de $5.000 COP
                                </div>
                            </div>

                        </div>
                        {{ form_end(form) }}
                    {% else %}
                        <div class="alert alert-info">
                            ¿Un poco perdido? da click <a href="{{ path('category_index') }}">Aquí</a> y empieza a
                            comprar!
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('assets/js/sweetalert2.all.min.js') }}"></script>
    <script src="{{ asset('assets/js/sales.js') }}"></script>
{% endblock %}
