{% extends 'base.html.twig' %}
{% block title %}¿Qué deseas Comprar?{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/category.css') }}">
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <h4 class="text-center my-4">¿Qué deseas comprar?</h4>
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="row">
                    {% for category in categories %}
                        <div class="col-md-6 d-flex bd-highlight my-1 rounded-sm bg-white category"
                             onclick="location.href='{{ path('products_category',{id:category.id}) }}'">
                            <div class="p-2 bd-highlight border">
                                <img src="{{ asset('uploads/category/'~category.photo) }}" alt="{{ category.name }}"
                                     width="100%">
                                <hr>
                                <h4 class="text-center">{{ category.name }}</h4>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <div class="text-center">
                                        <a href="{{ path('category_show',{id:category.id}) }}">Ver</a> |
                                        <a href="{{ path('category_edit',{id:category.id}) }}">Editar</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="alert alert-warning">No hay categorías registradas</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="border my-2">
                    <div class="p-2" style="background-color: #b3b7bb; color: white">
                        <strong>Carrito de compras</strong> - <a href="{{ path('shopping_car') }}">Confirmar Pedido</a>
                    </div>
                    <div id="shopping_car" style="width: 100%; height: 250px; overflow-y: scroll; overflow-x: hidden;">
                        {% if order is not null %}
                            {% for productorder in order.productOrders %}
                                {% set product = productorder.product %}
                                <div class="p-2">
                                    <div class="p-1 rounded border">
                                        <h6>{{ product.name }}</h6>
                                        <div><small>Precio Unidad: ${{ product.price }}</small></div>
                                        <div class="row">
                                            <div class="col-md-6"><small>Cantidad: {{ productorder.cantidad }}</small>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <small><strong>SubTotal: {{ product.price * productorder.cantidad }}</strong></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="p-2">
                                <div class="alert alert-danger ">No ha agregado productos al carrito</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="border p-5 my-4 text-center">
                    <img src="{{ asset('assets/images/logo2.png') }}" alt="logo" width="100%">
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
