{% extends 'base.html.twig' %}
{% block title %}Category index{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <h1>Categorías</h1>
        <a href="{{ path('category_new') }}">Nueva Categoría</a>
        <div class="row d-flex justify-content-center my-4">
            {% for category in categories %}
                <div class="col-md-4 d-flex bd-highlight my-1 rounded-sm bg-white" onclick="location.href='{{ path('products_category',{id:category.id}) }}'">
                    <div class="p-2 bd-highlight border">
                        <img src="{{ asset('uploads/category/'~category.photo) }}" alt="{{ category.name }}" width="100%">
                        <hr>
                        <h4>{{ category.name }}</h4>
                        <p>{{ category.description }}</p>
                        <div>
                            <a href="{{ path('category_show',{id:category.id}) }}">Ver</a>
                            <a href="{{ path('category_edit',{id:category.id}) }}">Editar</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-warning">No hay categorías registradas</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
