{% extends 'base.html.twig' %}
{% block title %}Category{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="alert alert-info my-2">
            Usted Está visualizando la información de la categoría {{ category.name }}.
        </div>
        <div class="row my-2">
            <div class="col-md-4 border">
                <img src="{{ asset('uploads/category/'~category.photo) }}" alt="{{ category.name }}" width="100%">
            </div>
            <div class="col-md-8 text-left border">
                <h4>{{ category.name }}</h4>
                <p>{{ category.description }}</p>
            </div>
            <div class="col-md-12">
                    <a class="btn btn-success btn-block my-2" href="{{ path('category_index') }}">Regresar a Lista de categorías</a>
                    <a class="btn btn-warning btn-block my-2" href="{{ path('category_edit', {'id': category.id}) }}">Editar Categoría {{ category.name }}</a>
                {#    {{ include('category/_delete_form.html.twig') }}#}
            </div>
        </div>
    </div>
{% endblock %}
