{% extends 'base.html.twig' %}
{% block title %}{{ category.name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/product_category.css') }}">
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-12 text-center">
                <h2>Compra de {{category.name}} a domicilio</h2>
            </div>
            <div class="col-md-8">
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-6 d-flex bd-highlight my-1 rounded-sm my-4 ">
                            <div class="category p-2 bd-highlight bg-white border">
                                <img class="rounded" src="{{ asset('uploads/product/'~product.photo) }}" alt="{{ product.name }}"
                                     width="100%">
                                <hr>
                                <h5>{{ product.name }}</h5>
                                <small>precio: ${{ product.price }}</small>
                                <hr>
                                <button class="btn btn-success btn-block add_car" data-id="{{ product.id }}"
                                        data-hash="{{ app.user.hash }}">
                                    <i class="fas fa-shopping-cart"></i>
                                    Agregar al carrito
                                </button>
                            </div>
                        </div>
                    {% else %}
                        <div class="alert alert-warning">No hay categorías registradas</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="border my-2">
                    <div class="p-2 rounded-top" style="background-color: #563d7c; color: white">
                        <strong>Carrito de compras</strong> - <a href="{{ path('shopping_car') }}"><small>Confirmar Pedido</small></a>
                    </div>
                    <div id="shopping_car"  class="bg-white" style="width: 100%; height: 250px; overflow-y: scroll; overflow-x: hidden;">
                        {% if order is not null %}
                            {% for productorder in order.productOrders %}
                                {% set product = productorder.product %}
                                <div class="p-2">
                                    <div class="p-1 rounded border">
                                        <h5>{{ product.name }}</h5>
                                        <div><small>Precio Unidad: ${{ product.price }}</small></div>
                                        <div class="row">
                                            <div class="col-md-6"><small>Cantidad: {{ productorder.cantidad }}</small>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <small><strong>SubTotal: {{ product.price * productorder.cantidad }}</strong></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="p-2" id="not_added">
                                <div class="alert alert-warning ">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    <small>
                                        No ha agregado productos al carrito
                                        <hr>
                                        Aquí se verán los productos agregados al carrito de compras
                                    </small>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="border p-5 my-4 text-center bg-white">
                    <img src="{{ asset('assets/images/logo2.png') }}" alt="logo" width="100%">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('assets/js/sweetalert2.all.min.js') }}"></script>
    <script src="{{ asset('assets/js/shopping_car.js') }}"></script>
{% endblock %}