{% extends 'base.html.twig' %}
{% block title %}Category index{% endblock %}
{% block body %}
    {{ parent() }}
<div class="container">

        <div class="row d-flex justify-content-center my-4">
            {% for product in products %}
{#                {{ dump(product) }}#}
                <div class="col-md-4 d-flex bd-highlight my-1 rounded-sm bg-white">
                    <div class="p-2 bd-highlight border">
                        <img src="{{ asset('uploads/product/'~product.photo) }}" alt="{{ product.name }}" width="100%">
                        <hr>
                        <h4>{{ product.name }}</h4>
                        <small>precio: ${{ product.price }}</small>
                        <p>{{ product.description }}</p>
                        <div>
                            <a href="{{ path('product_show',{id:product.id}) }}">Ver</a>
                            <a href="{{ path('product_edit',{id:product.id}) }}">Editar</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-warning">No hay categorías registradas</div>
            {% endfor %}
        </div>

</div>
{% endblock %}