<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('category_index') }}"><i class="fas fa-home"></i> Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('product_index') }}"><i class="fab fa-product-hunt"></i> Productos  | </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('clients_sales',{search:'recents'}) }}"><i class="fas fa-dollar-sign"></i> Mis Ventas |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('users') }}"><i class="fas fa-users"></i> Usuarios |</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('show_transactions') }}"><i class="fas fa-exchange-alt"></i> Transacciones |  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('city_index') }}"><i class="fas fa-city"></i> Ciudades |  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>