<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('category_index') }}">Categoría</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('product_index') }}">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('clients_sales',{search:'recents'}) }}">Mis Ventas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('users') }}">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>