<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}¡El correo de la noche!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon.png') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/website.css') }}">
        <style>
            @import url(//fonts.googleapis.com/css?family=Kaushan+Script:regular|Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic|Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic&subset=latin);
            h1, h2, h3, h4, h5, h6{
                font-family: 'Kaushan Script', handwriting;
            }
            body{
                font-family: 'Ubuntu', sans-serif;
            }
        </style>
    {% endblock %}
</head>
<body>
{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include 'nav_bar/admin_navbar.html.twig' %}
    {% elseif is_granted('ROLE_USER') %}
        {% include 'nav_bar/user_navbar.html.twig' %}
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script>
        $('.custom-file-input').on('change', function (event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
{% endblock %}
</body>
</html>
